<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Members Only", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
              <li id="name">Welcome <%= current_user.name %></li>
              <li><%= link_to "(Sign out)", signout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
            </ul>
          </nav>
    </div>
</header>